{% extends 'base.html' %}
{% block header %}
    <h1 class="container">{% block title %}Users{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="user col-sm-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Userame</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['username'] }}</td>
                <td>{{ user['password'] }}</td>
                <td>{{ user['role'] }}</td>
                <td>
                    <form action="{{ url_for('delete_user', id=user['id']) }}" method="POST">
                        <button class="btn btn-sm btn-danger" type="submit">
                            <span class="glyphicon glyphicon-remove" style="padding-right: 10px"></span>Delete
                        </button>
                    </form>
                    <a href="{{ url_for('edit_user', id=user['id']) }}" class="btn btn-sm btn-default" type="submit">
                        <span class="glyphicon glyphicon-user" style="padding-right: 10px"></span>Update
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <a href="/users/add" class="btn btn-primary">
            <span class="glyphicon glyphicon-user" style="padding-right: 10px"></span> Add User
        </a>
    </div>
</section>
{% endblock %}
