{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Users{% endblock %}</h1>
<section class="user col-sm-6">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Userame</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td>
                <td>{{ user['username'] }}</td>
                <td>{{ user['password'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <span class="glyphicons glyphicons-notes-2"></span> Add User
        </button>
        </button>
    </div>
</section>
{% endblock %}
